<div class="col-md-8">
  <% @post.each do |post| %>
    <div class="article">
      <h2>タイトル：<%= post.title %></h2>
      <p>カテゴリ：<%= post.category %></p>
      <p>作成日：<%= post.created_at %></p>
      <p><%= truncate(post.body, length: 50) %></p>
      <p><%= link_to "続きを読む", post, class: "btn btn-default" %></p>
    </div>
  <% end %>
</div>
