<div class="col-md-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>
<hr>
<p>
  <%= simple_format(@post.body) %>
</p>
<%= link_to '編集', edit_post_path(@post), class: "btn btn-default" %> 
<%= link_to "削除", post_path(@post), class: "btn btn-warning", method: :delete %>
</div>