<div class="col-md-12">
  <h1><%= @post.title %></h1>
  <p>記事タイトル: <%= @post.title %></p>
  <p>カテゴリ: <%= @post.category %></p>
  <p>記事本文:<%= @post.body %></p>
 
  <%= link_to "編集する", edit_post_path(@post), class: "btn btn-default" %>
  
   <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
  
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-post">Delete</button>      
  <%= link_to "削除する", post_path(@post), class: "btn btn-default", method: :delete %>
  </div>
    
  <div>
    <h2>コメント一覧</h2>
    <% @comments.each do |comment| %>
      <div class="media">
        <div class="media-body">
          <%= simple_format(comment.body) %>
        </div>
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-default" %>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-post">edit</button>   
  
   <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
  
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-post">Delete</button>      
  <%= link_to '削除', comment_path(comment.id) ,method: :delete %>
  </div>
      </div>
    <% end %>
  </div>

  <hr>
    <%= form_for @comment, url: {controller: :comments, action: :create} do |f| %>
      <div class="form-group">
        <%= f.label :body, 'コメント' %><br>
        <%= f.text_area :body %>
      </div>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit 'コメントする', class: "btn btn-blue"  %>
    <% end %>